:root {
    --black: #1B262C;
    --blue: #0F4C75;
    --turquoise: #00B7C2;
    --tan: #FDCB9E
}
.navbar {
    height: 10vh;
}

.navbar>.container-fluid {
    justify-content: center;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-collapse li {
    align-items: center;
}

a.nav-link {
    text-align: center;
}

.scrollContainer {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    max-height: 90vh;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 90vh;
    scroll-snap-align: start;
    overflow-x: hidden;
}

#about {
    display: flex;
    justify-content: space-evenly;
}

#aboutLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.skillsCarousel {
    /* overflow: hidden; */
    width: 100vw;
}
.carouselList {
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    left: -20vw;
    position: relative;
}
.carouselItem{
    display: none;
    position: absolute;
    animation: scroll 30s;
  
}
@keyframes scroll {
    0% {right: -20vw;opacity: 0;}
    20% {opacity: 1;}
    100% {right: 120vw;}
  }

.carouselItem>img{
    width: 100px;
    padding: 0 5px;
}


#aboutRight {
    height: 100%;
    display: flex;
    align-items: center;
}

#aboutRight img {
    max-height: 80vh;
    max-width: 50vw;
    z-index: 2;
}
.marque{
    font-size: 50px;
    
}
.get{
    margin-bottom: -250px;
}
.heading{
    display: flex;
    align-items: center;
}

.projects {
    display: flex;
}
.projects>div{
    width: 50vw;
    display: flex;
    justify-content: center;
}
#sabreChat{
    height: 90vh;
}
.projectInfo {
    flex-direction: column;
    align-items: center;
}
.projectInfo a{
    width: 200px;
    margin-top: 10px;
}
.projectInfo p{
    width: 80%;
}
.projectImg {
    display: flex;
    align-items: center;
}
#parkingPalsImg{
    max-width: 50vw;
    max-height: 50vh;
}
#simpleSudsImg{
    max-width: 50vw;
    max-height: 50vh;
}
#contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#contact div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#contact a{
    margin: 30px;
}
#contact img{
    height: 20vh;
}
#resume {
    overflow: hidden;
}
#resumeDoc {
    width: 100%;
    height: 100%;
    padding-left: 15vw;
}
@media screen and (max-width: 630px) {
    .introduction h2{
        text-align: center;
    }
    .skillsCarousel {
        display: none;
    }
    #sabreChat{
        height: 50vh;
    }
    .projectImg{
        width: 50vw;
        position: relative;
        left: 25vw;
        opacity: .2;
    }
    .projectInfo {
        width: 100vw;
        display: flex;
        justify-content: center;
        right: 25vw;
        position: relative;
    }
    #parkingPalImgContainer{
        left: -25vw;
    }
    #parkingPal>.projectInfo{
        left: 25vw;
    }
    #sabreInfo{
        position: relative;
        right: 25vw;
    }
    #contact img{
        height: 10vh;
    }
    #resumeDoc {
    padding: 0;
    }
  }
  /* about section starts */
.about {
    background: rgb(255, 255, 255);
  }
  .about .row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 4rem;
  }
  .about .row .image {
    text-align: center;
    flex: 1 1 35rem;
  }
  .about .row .image img {
    margin: 4rem;
    width: 30rem;
    height: auto;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    mix-blend-mode: luminosity;
    transition: 0.3s;
    cursor: pointer;
  }
  .about .row .image img:hover {
    mix-blend-mode: normal;
  }
  .about .row .content {
    flex: 1 1 45rem;
    padding: 3rem;
  }
  .about .row .content h3 {
    color: rgb(27, 27, 27);
    font-size: 2.5rem;
  }
  .about .row .content .tag {
    font-size: 1.4rem;
    color: #020133;
    font-weight: 600;
    margin-top: 1rem;
  }
  .about .row .content p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
    text-transform: none;
  }
  .about .row .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
  }
  .about .row .content .box-container .box p {
    text-transform: none;
  }
  .about .row .content .box-container .box p span {
    color: #011aff;
  }
  .resumebtn {
    margin-top: 6rem;
  }
  .resumebtn .btn {
    padding: 1.7rem 3rem;
    border-radius: 0.5em;
    transition: 0.3s;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
  }
  .resumebtn .btn span {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }
  .resumebtn .btn i {
    margin-left: 0.3rem;
    font-size: 1.2rem;
    transition: 0.3s;
  }
  .resumebtn .btn:hover {
    background: #1a047e;
  }
  .resumebtn .btn:hover i {
    transform: translateX(5px);
  }
  /* about media queries starts*/
  
  /* about media queries ends*/
  /* about section ends */


.education {
    background: 	rgb(255,255,255);
    min-height: 80vh;
  }
  .education .qoute {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    margin-top: 0.5rem;
  }
  .education .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .education .box-container .box {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    margin-top: 2rem;
    overflow: hidden;
    transition: 0.3s;
    background: rgb(252, 252, 252);
  }
  .education .box-container .box:hover {
    transform: scale(1.03);
    box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
  }
  .education .box-container .box .image {
    flex: 1 1 20rem;
    width: 100%;
  }
  .education .box-container .box img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 1 1 70rem;
  }
  .education .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #012970;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
  }
  .education .box-container .box .content p {
    font-size: 1.5rem;
    margin-left: 1rem;
    text-align: left;
  }
  .education h4 {
    font-size: 2rem;
    color: rgb(34, 109, 0);
    text-align: left;
    margin: 1rem;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
  }
  
  /* education media queries starts*/
  @media screen and (max-width: 600px) {
    
  }
  /* education media queries ends*/
  /* education section ends */
  .counter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 30px 5px;
  }
  .counter{
    font-size: 60px;
    margin-top: 10px;
  }
